/*
* Wisteria v0.1.0
* Copyright 2015, Koji Ishimoto
* http://t32k.me/wisteria
* MIT license.
* 01/20/2015
*/

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, select, button, textarea{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  line-height: 1.8;
  font-weight: 400;
  font-family: "Noto Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,.87);
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.h1 { font-size: 4.0rem; }
.h2 { font-size: 3.6rem; }
.h3 { font-size: 3.0rem; }
.h4 { font-size: 2.4rem; }
.h5 { font-size: 2.0rem; }
.h6 { font-size: 1.8rem; }

.strong, .b  {
  font-weight: bold;
}
.weak, .small{
  font-size: 1.2rem;
}
.em, .i { font-style: italic; }
.del { text-decoration:line-through;}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #673AB7;
text-decoration: none}
a:hover {
  color: #6200EA; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ul {
  list-style: disc inside; }
.ol {
  list-style: decimal inside; }
.ul li, .ol li {
  display: list-item;
}
.ul .ul, .ul .ol, .ol .ul, .ol .ol {
  margin-left: 2rem;
}
.ul .ul {
  list-style-type: circle;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table th {
  background-color: rgba(0,0,0,.04);
  font-weight: bold;
}
.table th,
.table td {
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.12);
}

/* Blockquote
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blockquote {
  padding: 1rem 2rem;
  border-left: .4rem solid rgba(0,0,0,.12);
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.code {
  padding: .2em 0;
  background-color: rgba(0,0,0,.04);
  border-radius: .4rem;
  font-family: Consolas, Courier, monospace;
}
.pre > .code {
  display: block;
  padding: 1rem;
  overflow: auto;
}
.code:after,
.code:before {
  letter-spacing: -.2em;
  content: "\00a0";
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  background: #651FFF;
  border-radius: .4rem;
  padding: 0 2rem;
  color: #fff;
  text-align: center;
  line-height: 4.2rem; }
.button--outline {
  color: #651FFF;
  border: 1px solid #651FFF;
  background: transparent; }


/* Horizontal Rule
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.12);
}
.hr--dashed {
  border-top-style: dashed;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-mtn { margin-top: 0 !important;}
.u-mts { margin-top: .4rem !important;}
.u-mtm { margin-top: 1rem !important;}
.u-mtl { margin-top: 2rem !important;}
.u-mtx { margin-top: 3rem !important;}
.u-mbn { margin-bottom: 0 !important;}
.u-mbs { margin-bottom: .4rem !important;}
.u-mbm { margin-bottom: 1rem !important;}
.u-mbl { margin-bottom: 2rem !important;}
.u-mbx { margin-bottom: 3rem !important;}
.u-mn { margin: 0 !important;}

.u-ptn { padding-top: 0 !important;}
.u-pts { padding-top: .4rem !important;}
.u-ptm { padding-top: 1rem !important;}
.u-ptl { padding-top: 2rem !important;}
.u-ptx { padding-top: 3rem !important;}
.u-pbn { padding-bottom: 0 !important;}
.u-pbs { padding-bottom: .4rem !important;}
.u-pbm { padding-bottom: 1rem !important;}
.u-pbl { padding-bottom: 2rem !important;}
.u-pbx { padding-bottom: 3rem !important;}
.u-pn { padding: 0 !important; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-cf {
  content: "";
  display: table;
  clear: both;
}

.u-fln { float: none !important; }
.u-fll { float: left !important; }
.u-flr { float: right !important; }

.u-tac { text-align: center !important; }
.u-tal { text-align: left !important; }
.u-tar { text-align: right !important; }

.u-ttc { text-transform:capitalize !important; }
.u-ttu { text-transform:uppercase !important; }
.u-ttl { text-transform:lowercase !important; }

.u-dn { display: none !important; }
.u-di { display: inline !important; }
.u-db { display: block !important;}

.u-w10 { width: 10% !important; }
.u-w20 { width: 20% !important; }
.u-w25 { width: 25% !important; }
.u-w30 { width: 30% !important; }
.u-w33 { width: 33% !important; }
.u-w35 { width: 35% !important; }
.u-w40 { width: 40% !important; }
.u-w50 { width: 50% !important; }
.u-w60 { width: 60% !important; }
.u-w65 { width: 65% !important; }
.u-w66 { width: 66% !important; }
.u-w70 { width: 70% !important; }
.u-w75 { width: 75% !important; }
.u-w80 { width: 80% !important; }
.u-w90 { width: 90% !important; }
.u-w100 { width: 100% !important; }