body {
  margin: 0 3rem;
}
.container {
  margin: auto;
  max-width: 960px;
}
.block {
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: .4rem;
  background: #EDE7F6;
}
.hero {
  margin: 0 -3rem;
  text-align: center;
  color: #fff;
  height: 400px;
  background: center center url("../img/image.jpg") no-repeat;
  background-size: cover;
}
.inner {
  background: rgba(0,0,0,.4);
  height: 400px;
}